/* Font Variables */
$unit: .686669em; /* 10.6666667px */
$heading-font:"tablet-gothic-narrow",sans-serif;
$paragraph-font:"kepler-std",serif;
$button-font:"tablet-gothic-narrow",sans-serif;


/* Color Variables */

$white:#fff;
$light-grey: #ccc;
$grey: #888;
$lighter-grey: #efefef;
$dark-grey:#222;
$background: #fafafa;
$pink: #E80741;
$nav-hover:complement($pink);
$link: $pink;
$link-hover: $nav-hover;
$twitter: #4099FF;
$facebook: #335795;
$linkedin: #0078B5;
$google: #DD4B39;
$email: #FA6900;
$alt-color:#89CC14;
$project:$white;
$validation: $pink;

$code: $link-hover;

