/* Font Variables */
$unit: .686669em; /* 10.6666667px */
$heading-font:"tablet-gothic-narrow",sans-serif;
$paragraph-font:"kepler-std",serif;
$button-font:"tablet-gothic-narrow",sans-serif;


/* Color Variables */

$white:#fff;
$light-grey: #ccc;
$lighter-grey: #efefef;
$dark-grey:#222;
$background: #fafafa;
$pink: #E80741;
$nav-hover:complement($pink);

$alt-color:#89CC14;
$project:$white;



