<script src="{{ site.baseurl }}/js/app-built/lib/require.js"></script>
<script>
    requirejs(['js/app-built/common'], function(common)
    {
        requirejs(['../js/app-built/components/pages/home/main']);
    });
</script>

<script src="http://use.typekit.net/jag4iyt.js"></script>

<script>try{Typekit.load();}catch(e){}</script>

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1888107-38']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>