<footer>
    <div id="message" class="footer">
    {% highlight html %}
        Copyright © 2016 www.davidodey.com. All Rights Reserved.
    {% endhighlight %}
</div>
</footer>

<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

<!-- load page scripts -->
<script src="{{ site.baseurl }}/js/app-built/lib/require.js"></script>

<script>
    requirejs(['{{site.baseurl}}/js/app-built/common.js'], function(common)
    {
        requirejs(['{{site.baseurl}}/js/app-built/components/pages/{{page.require}}.js']);
    });
</script>


