    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="author" content="">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <!-- Modernizr -->
        <script src="{{ site.baseurl }}/js/app-built/lib/modernizr.js"></script>

        <!-- Loading SCSS -->
        <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

    </head>
    <body id="home">
    <script>
            window.fbAsyncInit = function() {
                    FB.init({
                            appId      : '787364798035664',
                            xfbml      : true,
                            version    : 'v2.5'
                    });
            };

            (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
