<img src="http://placehold.it/600x300">
<h3>Title</h3>
<em>October 17, 2016 - Written by David O'Dey</em>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ligula mattis, facilisis dolor a, pharetra
	velit. Maecenas euismod finibus nibh, quis pulvinar magna eleifend sed. Donec quis tellus ut lectus dapibus
	suscipit. Nullam pellentesque viverra enim et ultricies. Aenean metus massa, semper et felis sed, mattis laoreet
	risus. Nullam aliquet eleifend ex, vitae dignissim risus auctor vitae. Fusce id tempus lectus. Maecenas facilisis
	magna at egestas luctus. Pellentesque mollis rhoncus lorem sit amet euismod. Aliquam posuere imperdiet aliquet.
	Maecenas sed aliquam erat.</p>
<a href="" class="button">Read Article</a>