---
layout: default
group: "navigation"
active: blog
require: blog

---
<header class="resource">
	<div class="col-lg-12">
		<h1 class="title">Articles</h1>
		<em>A collection of useful sites that will help you level up your skills</em>
	</div>
</header>
<section class="margin-top-75">
	<div class="row">
		<div class="col-lg-12 items blog-snips">
			{% for post in site.categories['blog']%}
			<a href="{{ site.baseurl }}{{ post.url }}">
				<div class="col-lg-12 resource-row clear-fix">
					<img src="{{ site.baseurl }}/img/{{post.thumb-image}}">
					<h3>{{ post.title }}</h3>
					{{ post.excerpt }}
				</div>
			</a>
			{% endfor %}
		</div>
		<div class="col-lg-6 items">
			<h2>Topics</h2>
			<ul>
				{% for tags in site.tags %}
				<li><a href="{{ site.baseurl }}/categories/{{ tags | first }}" name="{{ tags | first }}">{{ tags| first }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-lg-6 items">
			<h2>Latest Writings</h2>
			<ul>
				{% for post in site.categories['blog']%}
				<li>
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>