---
layout: default
group: "navigation"
active: blog
require: blog
exclude: "yes"

---
<script id="dsq-count-scr" src="//davidodey.disqus.com/count.js" async></script>
<header class="resource">
	<div class="col-lg-12">
		<h1 class="title">Blog Articles</h1>
		<em>Discuss issues within the UI / UX community.  Were always looking for guest authors.  For more info send me a message <a href="https://twitter.com/davodey" target="_blank">@davodey</a> </em>
	</div>
</header>
<section class="margin-top-25">
	<div class="row">
		<div class="col-lg-12 items blog-snips">
			{% for post in site.categories['blog']%}
			<a href="{{ site.baseurl }}{{ post.url }}">
				<div class="col-lg-12 resource-row clear-fix">
					<img src="{{ site.baseurl }}/img/{{post.thumb-image}}">
					<div class="blog-titles">
						<h3>{{ post.title }}</h3>
						<span class="post-date">
							<svg class="icon"><use xlink:href="#calendar-o"></use></svg>
							{{ post.date | date: "%-m/%-d/%Y" }}
						</span>
						<span class="comment-count">
							<svg class="icon"><use xlink:href="#comment-o"></use></svg>
							<span class="disqus-comment-count" data-disqus-url="{{ site.baseurl }}{{ post.url }}"></span>
						</span>
						<span class="share-count" data-url="{{site.baseurl}}{{post.url}}">
							<svg class="icon"><use xlink:href="#thumbs-o-up"></use></svg>
							<span class="total-count">0</span>
							<span class="total-share-text">Shares</span>
						</span>
					</div>
					{{ post.excerpt }}
				</div>
			</a>
			{% endfor %}
		</div>
		{% include blog/topic-post-links.html %}
	</div>
</section>