---
layout: default
active: blog
require: post
---
<header class="resource">
	<div class="col-lg-12 margin-sides-30">
		<h1 class="title">{{ page.title }}</h1>
		<em> Written {% if page.author %} by {{ page.author }} {% endif %} on {{ page.date | date: "%b %-d, %Y" }}</em>
	</div>
</header>
<article>
	<div class="col-lg-12 margin-top-25">
		<div class="col-lg-3 padding-top-5">
			Left sidebar content
		</div>
		<div class="col-lg-6 article-copy">
			{{content}}
			<div class="share">
				{% include blog/share.html %}
			</div>
		</div>
		<div class="col-lg-3 padding-top-5">
			Left sidebar content
		</div>
		<div class="comments">test
			{% include blog/disqus.html %}
		</div>
	</div>
</article>
<script id="dsq-count-scr" src="//davidodey.disqus.com/count.js" async></script>