---
layout: default
group: "navigation"
active: resources
require: resources
title: Resources | A collection of useful sites that will help you level up your UI / UX skills
description: I provide a list of great resources to help you be a great UI designer or developer.

fbtype: Website

---

<header class="resource">
	<div class="col-lg-12">
		<h1 class="title">Resources</h1>
		<em>A collection of useful sites that will help you level up your skills</em>
	</div>
</header>
<section class="margin-top-25">
	<div class="row">
		<div class="col-lg-12 border-top padding-top-25">
			<div class="col-md-4 col-sm-6 items margin-bottom-50 padding-left-0 tools">
				<h3>Tools</h3>
				{% for post in site.categories['tools'] %}
				<ul class="resource-list">
					<li><a href="{{post.link}}" target="_blank"><img src="{{ site.baseurl }}/img/{{post.thumb-image}}" alt="{{post.alt-tag}}">{{post.title}}</a></li>
				</ul>
				{% endfor %}
			</div>
			<div class="col-md-4 col-sm-6 margin-bottom-50 items podcasts">
				<h3>Podcasts</h3>
				{% for post in site.categories['podcasts'] %}
				<ul class="resource-list">
					<li><a href="{{post.link}}" target="_blank"><img src="{{ site.baseurl }}/img/{{post.thumb-image}}" alt="{{post.alt-tag}}">{{post.title}}</a></li>
				</ul>
				{% endfor %}
			</div>
			<div class="col-md-4 col-sm-6 margin-bottom-50 items padding-right-0 superheros">
				<h3>Superheros</h3>
				{% for post in site.categories['superheros'] %}
				<ul class="resource-list">
					<li><a href="{{post.link}}" target="_blank"><img src="{{post.twitter-img}}" alt="{{post.alt-tag}}">{{post.title}}</a></li>
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
</section>