---
layout: default
group: "navigation"
active: resources
require: resources
---

<header class="resource">
	<div class="col-lg-12">
		<h1 class="title">Resources</h1>
		<em>A collection of useful sites that will help you level up your skills</em>
		<p>
			If you’re new to web design or front-end development, you can quickly become overwhelmed, with the wide variety of tools, resources, and news sites, on the web.  Over the years I have collected a pretty good go-to list of sites I can visit on a regular basis, that help me level up my skills, keep me current with styles and techniques, and tools that have become vital, as part of my everyday workflow.  I want to share these with you, so you can become the  rock star designer / developer you want to be.
		</p>
	</div>
</header>
<section>
	<div class="row">
		<div class="col-lg-12 items">
			<h2>Tools</h2>
			{% include tools/pattern-lab.html %}
			{% include tools/basehold.html %}
			{% include tools/gulp.html %}
			{% include tools/sass.html %}
			{% include tools/font-awesome.html %}
			{% include tools/git.html %}
			{% include tools/balsamiq.html %}
			{% include tools/caniuse.html %}
		</div>
	</div>
</section>