<section id="contact" class="line-alt margin-bottom">
    <div class="row padding-15 negative-margin">
        <div class="col-lg-12">
            <div class="title-bg padding-bottom">
                <h2 class="title">Contact Me</h2> <em>Send me your questions or a message. Quote requests too!</em> </div>
            <p>One aspect I love about web design is our outstanding community. We have this passion for helping each other, designers and non-designers. If you need some help, have a question, or would like to request a quote. Please send it along. You
            can also tweet me your questions at <a href="http://twitter.com/davodey">@davodey</a></p>
        </div>
        <div class="col-lg-12 margin-top">
            <div class="contact_form">
                <form id="contactform" action="javascript:alert('success!');">
                    <div id="note"></div>
                    <div class="input-holder no-margin">
                        <label class="no-margin">Full Name:</label>
                        <input type="text" id="name" name="name" class="input-margin textbox"> 
                    </div>
                    <div class="input-holder">
                        <label class="no-margin">Email Address:</label>
                        <input type="email" id="email" name="email" class="textbox"> 
                    </div>
                    <label>How Can I Be Of Service?</label>
                    <textarea name="message" class="textbox"></textarea>
                    <p><i class="fa fa-exclamation-circle fa-lg"></i> <em>It is NOT ok for you to contact me to solicit your services.  I only team up with friends in the local Phoenix Arizona area.</em></p>
                    <button type="submit">Send Message<svg class="icon button"><use xlink:href="#envelope"></use></svg></button>

                </form>
            </div>
        </div>
    </div>
</section>