<div class="snap-drawers">
	<div class="snap-drawer snap-drawer-left">
		<div>
			<ul>
				{% if page.active == "home" %}
				<li class="active"><a href="index.html"><svg class="icon"><use xlink:href="#home-alt"></use></svg> Home</a></li>
				{% else %}
				<li><a href="index.html"><svg class="icon"><use xlink:href="#home-alt"></use></svg> Home</a></li>
				{% endif %}
				{% if page.active == "blog" %}
				<li class="active"><a href="blog.html"><svg class="icon book"><use xlink:href="#book"></use></svg>Blog</a></li>
				{% else %}
				<li><a href="blog.html"><svg class="icon book"><use xlink:href="#book"></use></svg>Blog</a></li>
				{% endif %}
				{% if page.active == "resources" %}
				<li class="active"><a href="resources.html"><svg class="icon"><use xlink:href="#paperclip"></use></svg> Resources</a></li>
				{% else %}
				<li><a href="resources.html"><svg class="icon"><use xlink:href="#paperclip"></use></svg> Resources</a></li>
				{% endif %}
				<li><a href="index.html#contact"><svg class="icon"><use xlink:href="#child"></use></svg> Lets Talk</a></li>
			</ul>
		</div>
	</div>
</div>
