<div class="share-items">
	<strong>SHARE THIS ARTICLE</strong>
	<ul class="share-links">
		<li>
			<a class="twitter osc-counter" data-dir="left" href="http://twitter.com/intent/tweet?text={{page.twitterText}}%20%23{{page.twitterHash}}&amp;via=davodey" ><svg><use xlink:href="#twitter"></use></svg>0</a>
		</li>
		<li>
			<a class="facebook" href="http://www.facebook.com/sharer/sharer.php?url=http://10.0.1.78/{{site.baseurl}}{{post.url}}&title={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"><svg><use xlink:href="#facebook"></use></svg><span class="facebook-count">0<span></span></a>
		</li>
		<li>
			<a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://10.0.1.78/{{site.baseurl}}{{post.url}}&title={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}}"><svg><use xlink:href="#linkedin"></use></svg><span class="linkedin-count">0</span></a>
		</li>
		<li>
			<a class="google" href="https://plus.google.com/share?url=http://10.0.1.78/{{site.baseurl}}{{post.url}}"><svg><use xlink:href="#google-plus"></use></svg><span class="google-count">0</span></a>
		</li>
		<li>
			<a class="email" href="mailto:?subject={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}&amp;body=You%20should%20read%20this:%20http://10.0.1.78/{{site.baseurl}}{{post.url}}" title="Email this article"><svg><use xlink:href="#plane"></use></svg><span class="social-text">Email</span></a>
		</li>
	</ul>
</div>