/* responsive */
@mixin respond-to($respond-to) {
	@each $device in $devices {
		@if nth($device, 1) == $respond-to {
			@media (max-width: nth($device, 2)) {
				@content;
			}
		}
	}
}


@mixin full{
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin sm-desktop-only{
	@media (min-width: 990px) and (max-width: 1200px) {
		@content;
	}
}

@mixin tablet-only{
	@media (min-width: 767px) and (max-width: 990px) {
		@content;
	}
}

@mixin tablets-and-desktops{
	@media (min-width: 767px){
		@content;
	}
	
}

@mixin colorHover ($baseColor) {
	background-color: $baseColor;
	&:hover {
		background-color: lighten($baseColor,5%);
		text-decoration: none;
	}
}



$devices: large 1200px, medium 990px, small 767px;

/* Mixin */
@mixin transition{
	/* ...and now for the proper property */
	transition:.5s;
}