.resource-page {
	margin-bottom:100px;
	@media (max-width:640px){
		padding-top:0;
	}
	
	.row {
		padding:0;
	}
	
	em {
		display:block;
		margin-bottom:25px;
	}
	
}

.resource {
	margin:50px 0 25px 0;
  	@media (max-width:640px) {
	  margin-top:0;
	}
}


.resource-row {
	border-top:1px dotted $grey;
	padding:25px;
	text-align: left;

  	&:last-child {
	  border-bottom: 1px dotted $grey;
	  margin-bottom:40px;

	  a & {
		margin-bottom:0;
		border-bottom:0;
	  }
	}
	
	&:hover {
		background:$light-grey;
	}
	
	@media (max-width:640px){
		padding:25px 0px;
	}
	
	h3 {
		padding-top:0;
		margin-top:0;
		margin-bottom:0;
		font-size:1.2em;
	}
	
	img {
		width:10%;
		float:left;
		border-radius:15%;
		margin-right:30px;
		
		@media (max-width:640px){
			width:30%;
		}
	}
	
	

}

a {
  h3 {
	color:$black;
  }
}
.resource-list {
  clear:both;
  overflow:hidden;
  margin:0;
  padding:0;
  text-align: left;

  a {
	display:block;
	padding:5px;
	text-decoration: none;

	@media (max-width:640px) {
	  padding: 10px 0;
	}

	&:hover {
	  background-color:$light-grey;
	}


  }
  li {
	border-top:1px dotted $grey;

  }
  img {
	width:5%;
	margin-right:10px;
  }
}

.image, .description {
	text-align: left;
}
