.bio-timeline {
  span {
	font-size: $unit * 1.7; /* 16px */
	line-height: $unit * 2.34;
	font-family: $paragraph-font;
  }
  div.row {
	  margin-bottom:0;
	@media(max-width:640px) {
	  margin-bottom:25px;
	}
	ul {
	  margin-bottom:0;
	}
  }
}

.flex {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  overflow:hidden;
  flex-direction: row;
  @media (max-width:640px) {
	flex-direction: column;
  }
  &:hover {
	.flex-item.year {
	  animation: bounce 1.5s;
	}
  }
}

.flex-item {
	flex: 1;
}
.year {

  span {
	font-weight:bold;
	font-family: $heading-font;
	display:block;
  }
  &.left {
	text-align: right;
	order:1;
	padding-right:15px;
  }
  &.right {
	text-align: left;
	order:2;
  }
}

.event {
  background-color:$light-grey;
  transition: all .2s ease-in-out;

  &:hover {
	perspective: 600px;
  }

  span {
	display:block;
	padding:10px;
	@media (max-width:640px) {
	  text-align: center;
	}
  }

  &.left {
	text-align: right;
	order:1;
	padding-right:15px;
	border-right:1px dotted $black;
	margin-bottom: -2px;
	border-radius: 10px 0px 0px 10px;

	@media (max-width:640px) {
	  border:0;
	  order:2;
	  border-radius:10px;
	}
  }
  &.right {
	text-align: left;
	order:2;
	border-left:1px dotted $black;
	margin-bottom: -2px;
	border-radius: 0px 10px 10px 0px;
	@media (max-width:640px) {
	  border:0;
	  order:1;
	  border-radius:10px;
	}
  }
}

.arrow {
  margin: 0;
  position: absolute;
  top: -31px;
  background: none;
  fill: $color3;
  top:0;

  @media(max-width:640px) {
	display:none;
  }

  &.left {
	right: -9px;
  }
  &.right {
	left: -9px;
  }

  &:hover {
	background:none;
	transform:none;
  }
}

