label.error {
  @extend .clear-fix;
  position:absolute;
  top:20px;
  right:0;
  background-color:$validation;
  color:white;
  font-size:.7em;
  padding:0 15px;
  animation:wiggle .3s 2;

  @media (max-width:1280px){
    font-size:.6em;
    line-height:1.3;
    top:28px;
  }

}

input.error, textarea.error {
  border:1px solid $validation
}

input.valid, textarea.valid {
  border:1px solid $success
}


.not-ok {
  margin:5px;
  clear:both;
}

.success-message {
  display:none;
  text-align: left;
  padding:0;
  pre {
    text-align: center;
    code {
     white-space: normal;
    }
  }
}

code span {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}