<!DOCTYPE html>
<html lang="en">
   {% include head.html %}
   <body id="home">
   {% include svg.html %}
      {% include mobile-menu.html %}
      <div id="mobile" class="container-fluid ">
         <div class="line clear-fix">
            {% include blog-header.html %}
            <section class="margin-top-75">
               <div class="row">
                  <div class="col-lg-9 items">
                  {% include tools/pattern-lab.html %}
                  </div>
                  <div class="col-lg-3 items">
                     <h2>Topics</h2>
                     Links go Here
                  </div>
               </div>
            </section>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>