<!DOCTYPE html>
<html lang="en">
{% include meta/head.html %}
{% include svg.html %}
<div id="open-left" class="bar-nav container-fluid">
	<nav>
		<ul>
			<li class="mobile-show mobile-menu"><a href="#/"><svg class="icon bar"><use xlink:href="#bars"></use></svg><span class="menu-text">Menu</span></a></li>
		</ul>
	</nav>
</div>
<div class="snap-drawers">
	<div class="snap-drawer snap-drawer-left">
		<div>
			<ul>
				{% include navigation.html %}
			</ul>
		</div>
	</div>
</div>
<div id="content" class="snap-content">
	<div id="navigation" class="container-fluid">
		<nav>
			<ul>
				{% include navigation.html %}
			</ul>
		</nav>
	</div>
<div id="mobile" class="container-fluid ">
	<div class="line clear-fix">
		<header class="resource">
			<div class="col-lg-12">
				<h1 class="title">{{ page.title }}</h1>
				<em>A collection of useful sites that will help you level up your skills</em>
			</div>
		</header>
		<section class="margin-top-75">
			<div class="row">
				<div class="col-lg-12 items">
					{{content}}
				</div>
				<div class="col-lg-6 items border-right">
					<h2>Discussion Topics</h2>
					<ul class="topics">
						{% for tags in site.tags %}
						<li>
							<svg class="icon color small"><use xlink:href="#folder-open"></use></svg> <a href="{{ site.baseurl }}/categories/{{ tags | first }}" name="{{ tags | first }}"> {{ tags| first }} </a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-lg-6 items">
					<h2>Recent Blog Posts</h2>
					<ul class="recent">
						{% for post in site.categories['blog']%}
						<li>
							<svg class="icon color small"><use xlink:href="#star"></use></svg> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
{% include meta/footer.html %}
</div>
</body>


